<mat-toolbar color="secondary">
  
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="toolbar-title">
    MatchMyStars
  </span>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Share">
    <mat-icon (click)="shareApp()">share</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="horoscopeForm" (ngSubmit)="onSubmit()">
  <h3>Bride Details</h3>
  <div formGroupName="bride">
  <mat-form-field appearance="fill">
    <mat-label>Bride Star</mat-label>
      <mat-select formControlName="gender">
        <ng-container *ngFor = "let nakshatra of horoScopeList">
           <mat-option value="nakshatra.id">{{nakshatra.name}}</mat-option>
        </ng-container>
    </mat-select>
 </mat-form-field>
  </div>

  <h3>Groom Details</h3>
  <div formGroupName="groom">
    <mat-form-field appearance="fill">
    <mat-label>Groom Star</mat-label>
      <mat-select formControlName="gender">
        <ng-container *ngFor = "let nakshatra of horoScopeList">
           <mat-option value="nakshatra.id">{{nakshatra.name}}</mat-option>
        </ng-container>
    </mat-select>
 </mat-form-field>
  </div>
  <div class="button-container">
    <button style="width: 50%; display: block; margin: 0 auto;" mat-stroked-button color="primary" class="big-button">
       Match Star
    </button>
  </div>
<div *ngIf = "IsShow">
<div class="circle-score">
  9<span class="divider">/</span>10
</div>
  <mat-icon
  *ngFor="let star of starsArray; let i = index"
  [color]="i < rating ? 'primary' : ''"
  style="cursor: pointer;"
>
  {{ i < rating ? 'star' : 'star_border' }}
</mat-icon>
<br/>
<br/>
<h3>{{ compatible }}</h3>
</div>

</form>
